RewriteEngine On

# Если включен МодРеал(модуль преобразования адресов) в Апаче:
# Взять адрес с самого начала (любые англ буквы в любом количестве(не 0) любого регистра),
# заканчиваются возможно на "/" и перенаправить на index.php в параметр контролера
# $1(первые скобки (a-zA-Z)), а остальное в action
# "+"  -кол-во от 1 до бесконечности ("*" -от 0 до бесконечности)
# "/?" - один "/" или ничего
#

RewriteRule ^([a-zA-Z]+)/?$ index.php?ctrl=$1&act=index
RewriteRule ^([a-zA-Z]+)/([a-zA-Z]+)?$ index.php?ctrl=$1&act=$2
RewriteRule ^([a-zA-Z]+)/([a-zA-Z]+)/([0-9]+)$ index.php?ctrl=$1&act=$2&id=$3